<div class="row">
    <div class="col l12">
      <div class="card grey lighten-5">
        <div class="card-content">
          <span class="card-title"><h3>Servidores</h3></span>
          <table class="striped highlight centered">
            <thead>
              <tr>
                <th>AÇÕES</th>
                <th>ID</th>
                <th>NOME</th>
                <th>IP</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of servers" >
                <td>
                  <a title="Editar" class="btn-floating btn-small blue lighten-2 waves-effect waves-light"><i class="material-icons">edit</i></a>
                  <a title="Apagar" class="btn-floating btn-small red lighten-2 waves-effect waves-light" style="left: 2px;"><i class="material-icons">delete_forever</i></a>
                </td>
                <td>{{s.id}}</td>
                <td>{{s.name}}</td>
                <td>{{s.ip}} <span class="new badge red lighten-2 right" data-badge-caption="Ping Erro"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
