<div class="navbar-fixed">
  <nav class="white" >
    <div class="container">
      <div class="nav-wrapper">
        <a routerLink="servers" class="brand-logo"><img style="height: 55px" src="assets/img/logo_vip.png"></a>
        <!-- <a routerLink="clients" class="brand-logo blue-text">VIP DNS</a> -->
        <a href="#" data-target="mobile-demo" class="sidenav-trigger blue-text"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li routerLinkActive="active"><a routerLink="servers" class="blue-text">Servidores<i class="material-icons left">dns</i></a></li>
          <li routerLinkActive="active"><a routerLink="clients" class="blue-text">Clientes<i class="material-icons left">call_split</i></a></li>
          <li routerLinkActive="active"><a routerLink="binds" class="blue-text">Bind<i class="material-icons left">autorenew</i></a></li>
          <!-- Dropdown Trigger -->
          <li>
            <a class="dropdown-trigger blue-text" href="#!" data-target="dropdown">
              {{user.name || user}}
              <i class="material-icons left">account_box</i>
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
</div>
<!-- Dropdown Structure -->
<ul id="dropdown" class="dropdown-content">
  <li><a class="blue-text modal-trigger" (click)="showFormUser()"  data-target="modal">Editar<i class="material-icons left blue-text">edit</i></a></li>
  <li><a class="blue-text" (click)="logout()">Sair<i class="material-icons left blue-text">exit_to_app</i></a></li>
</ul>
<!-- Dropdown Structure mobile -->
<ul id="dropdown-mobile" class="dropdown-content">
  <li><a class="blue-text" href="#!">Editar<i class="material-icons left blue-text">edit</i></a></li>
  <li><a class="blue-text" (click)="logout()" >Sair<i class="material-icons left blue-text">exit_to_app</i></a></li>
</ul>
<ul class="sidenav" id="mobile-demo">
  <li routerLinkActive="active"><a class="blue-text" routerLink="servers">Servidores<i class="material-icons left blue-text">dns</i></a></li>
  <li routerLinkActive="active"><a class="blue-text" routerLink="clients">Clientes<i class="material-icons left blue-text">call_split</i></a></li>
  <li routerLinkActive="active"><a routerLink="binds" class="blue-text">Bind<i class="material-icons left">autorenew</i></a></li>
  <!-- Dropdown Trigger -->
  <li>
    <a class="dropdown-trigger blue-text" href="#!" data-target="dropdown-mobile">
      {{user.name || user}}
      <i class="material-icons left blue-text">account_box</i>
      <i class="material-icons right blue-text">arrow_drop_down</i>
    </a>
  </li>
</ul>
<router-outlet></router-outlet>
<footer class="page-footer white">
  <div class="footer-copyright">
    <div class="container blue-text">
      VIP © 2019 Copyright
      <a class="right" target="_blank" href="#!">VIP</a>
    </div>
  </div>
</footer>
<!-- Modal Structure -->
<div id="modal" class="modal">
  <form [formGroup]="formUser" (ngSubmit)="updateUser()" >
    <div class="modal-content">
      <h4>Editar Usuário {{user.name || user}} </h4>
        <div class="input-field">
          <input id="name" type="text" class="validate" [ngClass]="validate('name')"  formControlName="name">
          <label for="name">Usuário</label>
          <span class="helper-text" data-error="Campo Obrigatório"></span>
        </div>
        <div class="input-field">
          <input id="pass" type="password" [ngClass]="validate('password')" formControlName="password">
          <label for="pass">Senha</label>
          <span class="helper-text" data-error="Campo Obrigatório"></span>
        </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="waves-effect waves-light btn green modal-close">Salvar</button>
    </div>
  </form>
</div>
